## Demonstrate Intake-MapD Plugin usage

Get and install intake-mapd plugin from https://github.com/Quansight/intake-mapd .

The following assumes that MapD CE server is running on localhost:9091 (see MAPD_URI below) and one has intake, pymapd, and pandas installed.

In [1]:
import intake

In [2]:
intake.open_mapd # check that intake-mapd plugin is registered

In [3]:
if 0:
    # Using pymapd interface to learn what is in the test database, otherwise disable this part
    import pymapd
    con = pymapd.connect(user="mapd", password="HyperInteractive", host="localhost", dbname="mapd")
    print('con=',con)
    table_name = con.get_tables()[0]
    print('; '.join(['{0}'.format(d.name, d.type) for d in con.get_table_details(table_name)]))
    field_names = [d.name for d in con.get_table_details(table_name)]
    q = con.execute('SELECT {} FROM {};'.format(', '.join(field_names), table_name))
    print()
    print(q.fetchmany(1))

In [4]:
if 1: # Manually specify query information
    table_name = 'flights_2008_10k'
    field_names = ['carrier_name', 'dep_timestamp', 'origin', 'arr_timestamp', 'dest', 'airtime']

MAPD_URI='mapd://mapd:HyperInteractive@localhost:9091/mapd'

datasource = intake.open_mapd(MAPD_URI, table_name, field_names)  # Intake DataSource instance

In [5]:
datasource.discover()  #

{'datashape': 'datashape', 'dtype': 0            object
 1    datetime64[ns]
 2            object
 3    datetime64[ns]
 4            object
 5             int64
 dtype: object, 'shape': (None, 6), 'npartitions': 2, 'metadata': {}}

In [6]:
df = datasource.read() # reads all data to memory, df is pandas.DataFrame

In [7]:
df.head()              # show the head

,carrier_name,dep_timestamp,origin,arr_timestamp,dest,airtime
0,Southwest Airlines,2008-01-03 07:54:00,IAD,2008-01-03 10:02:00,TPA,113.0
1,Southwest Airlines,2008-01-03 06:28:00,IND,2008-01-03 08:04:00,BWI,76.0
2,Southwest Airlines,2008-01-03 09:26:00,IND,2008-01-03 10:54:00,BWI,78.0
3,Southwest Airlines,2008-01-03 18:29:00,IND,2008-01-03 19:59:00,BWI,77.0
4,Southwest Airlines,2008-01-03 19:40:00,IND,2008-01-03 21:21:00,JAX,87.0